
	

			body { margin:0; }

			#treePopup {
				min-height: 300px;
				width: 400px;
				font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
				font-size: 16px;
				line-height: 22px;
			}

			.container { padding: 15px; }
			.stats { text-align: center; }
			.badge { display:inline-block; background: #ddd; padding: 5px 10px; border-radius: 30px; text-decoration: none; }
			.badge.badge-green { background: rgba(66,186,150,.1); color: #42ba96; }
			.badge.badge-purple { background: rgba(124,105,239,.1); color: #7c69ef; }

			.header { position: relative; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.02);
				align-items: center;
				border-bottom: 1px solid #eeeeee; background: #fff;

				color: #ffffff !important; padding: 15px 0; font-size: 17px; font-weight: bold; text-align: center; }
			.logo { width: 130px; text-align: center; }
			.home-btn { position: absolute; top: 24px; left: 25px; }
			.home-btn img { width: 22px; opacity: 0.7; }
			.options-btn { position: absolute; top: 24px; right: 25px; }
			.options-btn img { width: 22px; opacity: 0.7; }
			.notifications-btn { position: absolute; top: 26px; right: 57px; }
			.notifications-btn img { width: 22px; opacity: 0.7; }

			#login-status { border-top: 1px solid #eee; padding: 10px 15px; text-align: center; }
			#tab-status { border-top: 1px solid #eee; padding: 10px 15px; background-color: lightyellow; }
			#tab-status.active { background-color: #55efc4; border-color: #00b894; text-align: left; }
			#tab-status.almost-active { background-color: #dff9fb; border-color: #c7ecee; text-align: left; }
			#tab-status.almost-active .icon.icon-check { float: right; margin-left: 15px; margin-right: 0; height: 20px; margin-top: 2px; }

			h1 {
				font-size: 1.5em;
				margin-top: 0;
				font-weight: 500;
			}
			.icon.icon-check { opacity: 0.7; float: left; margin-right: 15px; margin-bottom: 5px; width: 20px; height: 65px; }
			a.btn-action { clear: both; display: block; margin-top: 10px; margin-bottom: 10px; clear:both; letter-spacing: normal !important; }
			a.btn-action span { background-color: #f1c40c; display: inline-block; padding: 10px 20px; font-size: 15px; border-radius: 15px; color: #fff; box-shadow: 0px 5px 0px 0px #d8aB01; font-weight: 500; }
			.text-center { text-align: center; }
	

/*.segment{
		width:478px;
		height:90px;
		margin-top:5px;
		border:3px solid #ffffff;
		border-radius: 10px 10px 10px 10px;
		box-shadow: inset 0px 0px 45px 4px rgba(0,0,0,0.2);
		background: #00AA77;
		overflow: hidden;
	}
	.msg{
		margin-left:10px;
		margin-top:5px;
	}
	#welcome .msg{
		color: #ffffff;
	}
	.m3{
		font-size: 10px;
	}
	.m2{
		font-size: 14px;
	}
	.segment:nth-child(2),.segment:nth-child(3),.segment:nth-child(4){
		border:3px solid #ffffff;
		border-radius: 10px 10px 10px 10px;
		box-shadow: inset 0px 0px 45px 4px rgba(255,255,255,.5);
		background: #D3D3D3;
	}
	.text{
		width: 40%;
		display: inline-block;
	}
	.graph{
		float: right;
		width:50%;
		height:100%;
		background: #00ff00;
		display: inline-block;
	}
	.m4,.m7{
		color: #333333;
	}
	.m5{
		margin-left: 15px;
		color: #9f009f;
	}
	.m6,.m9{
		color:#636363;
	}
	.m8{
		margin-left: 15px;
		color:#00AF66;
	}
	.segment:nth-child(4){
		height:40px;
		padding-top:0px;
		padding-left:0px;
	}
	input{
		height:100%;
		width:100%;
		background: #00AA77;
		border-radius: 10px 10px 10px 10px;
		border:3px solid #ffffff;
	}
*/
