	.ext_container{
		font-family: "Segoe UI", Tahoma, sans-serif;
    		font-size: 100%;
		margin-top:30px;
		width:100%;
		height:100%;
		background:rgba(255,255,255,0);
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:9999999;
	}
	.ext_first{
		width:10%;
		height:18%;
		top:60px;
		right:80px;
		position:absolute;
		background:rgba(16,16,16,0.6);
		border-radius: 9px;
	}
	.ext_first span{
		text-align:center;
		padding-top:5px;
		display:block;
		color:#ffffff;
		margin:auto;
	}
	.logo{
		width: 100px;
		height: 50px;
		float: center;
		background: url(https://raw.githubusercontent.com/geeeksameer/ext-asstes/master/assets/with-name.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		}
	.logo-center{
		width: 100px;
		height: 50px;
		margin-left: auto;
  		margin-right: auto;
		background: url(https://raw.githubusercontent.com/geeeksameer/ext-asstes/master/assets/with-name.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		}
	.ext_button{
		width:45%;
		border-radius:2px;
		margin-left:auto;
		margin-right:auto;
		color:#54b579;
	}
	.ext_second{
		width:59%;
		background:rgba(16,16,16,0.6);
		margin:auto;
		padding:20px 10px 10px 20px;
		cursor:default;
		display:none;
		border-radius: 25px;
	}
	.ext_int{
		margin:auto;
		width:750px;
	}
	.question{
		margin:2px 3px;
		height:55px;
		text-align:center;
		width:370px;
		margin-left:auto;
		margin-right:auto;
		display:inline-block;
	}
	.question *{
		margin:2px 3px;
		color:#ffffff;
		margin:auto;
	}
	.button2{
		margin-top:5px;
		text-align:center;
		color:#fff;
	}
	.button2 *{
		border-radius:200px 200px 200px 200px;
		border:1px solid #54b579;
		background-color:#54b579;
		width: 100px;
	}
	.option{
		border-radius:200px 200px 200px 200px;
		border:1px solid #54b579;
		width:30px;
		height:30px;
		display:inline-block;
		margin-left:3px;
	}
	.option:hover{
		border-color:#ffffff;
		background-color:#54b579;
	}
	.label{
		width:80px;
		margin-right:5px;
	}
	#comments{
		color:#ffffff;
		background-color:RGBA(0,0,0,0);
		margin-top:5px;
		box-shadow: none;
 	}
