#ext-overlay{
	display:block;
	position: fixed;
	width: 500px;
	height: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(88,88,88,0.7);
	box-shadow: 0px 0px 50px 50px rgba(88,88,88,0.7);
	z-index:99999;
}
#ext-body{
	filter: blur(10px);
}
.star{
	content:url("asset.png");
	width:25px;
	height:25px;
	display: inline-block;
}
.question{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	letter-spacing: -0.6px;
	word-spacing: -0.6px;
	color: #FFFFFF;
	font-weight: 700;
}
